.StudyBox {
    --padding-inside: 12px;
    margin: 0 calc(var(--padding-sides) - var(--padding-inside));
    margin-top: 20px;
    border-radius: 8px;
    padding: 14px var(--padding-inside);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.StudyBox .intro-label {
    margin-bottom: 6px;
}

.StudyBox .ContactList {
    border-top: 2px solid #eee;
    padding-top: 10px;
}

.StudyBox .pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.StudyBox .Contact:not(:last-child) {
    margin-bottom: 10px;
}