.Friends{
    .friendsList{
        list-style-type: none;
    }

    .box{
        padding: 20px;
        box-shadow: 4px 4px 4px 2px #c4c4c4;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 30px;
        width: 85%;
        text-align: left;
        background-color: white;
        border: none;

    }

    .pic{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }

    .name{
        font-weight: 500;
        font-size: 18px;
    }


    .searchbar{
        font-size: 20px;
        padding: 10px 15px 10px 15px;
        background-color: #efefef;
        margin: 15px 15px 0px 15px;
        border-radius: 30px;
        color: #c4c4c4

    }

    .pageTitle{
        font-size: 25px;
        margin: 15px;
    }

    .friendIcon{
        float: right;
    }

    #searchIcon{
        float: right;
    }

    #searchInput{
        background-color: #efefef;
        border: 0px;
        outline: none;
        width: 90%;
    }
}
